* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    background: url("images/Biogas_Back.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    font-family: cursive;

  }
  fieldset {
    padding: 20px 40px;
    border: none;
    
  }
  .line {

    height: 0;
    width: calc(100% + 84px); /* Adjust based on the padding value */
    margin-left: -42px; /* Adjust based on the padding value */
    overflow: visible;
  }
  hr{
    width: 100%;
  }
  #regForm {
    
    background-color: #4472c4;
    margin: auto;
    
    padding-bottom: 10px;
    margin-top: 50px;
    width: 50%;
    min-width: 300px;
    border-radius: 30px;
  }
  
  /* center title and put logo to the right side of form */
  .title{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
  }
  
  
  #logo{
    
    width: 85px;
    background-color: #4472c4;
    
    align-self: center;
    
  }
  .results{
    color: rgb(241, 235, 235);
  }
  #title {
    text-align: center; 
    margin-bottom: 20px; 
    color: rgb(241, 235, 235);
    
  }
  input {
    padding: 10px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  .inputBtns{
    margin: 0 auto;
    text-align: center;
    width: 35%;
    font-family: cursive;
    border: 1px solid ;
    
  }
  .inputBtns:hover{
    cursor: pointer;
    /*opacity: 0.8;*/
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  /* on click */
  .changeColor{
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    text-align: center;
    
  }
  
  button {
    
    
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: cursive;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  
  #prevBtn {
    background-color: rgb(241, 235, 235);
    border: 1px solid;
    
  }
  #nextBtn{
    color: black;
    
    border: 1px solid;
  }
  #nextBtn:hover{
    color: rgb(241, 235, 235);
  }
  #prevBtn:hover{
    background-color: #1a2c4b;
    color:rgb(241, 235, 235);
  }
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(241, 235, 235);
    border: none;  
    border-radius: 50%;
    display: inline-block;
    
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are current and valid: */
  .step.current {
    background-color: #1a2c4b;
  }
  
  .items  {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  
  
  
  