* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    background: url("images/Biogas_Back.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    font-family: cursive;

  }
  fieldset {
    padding: 20px 40px;
    border: none;
  }
  hr{
    width: 100%;
  }
  #regForm {
    
    background-color: #ffffff;
    margin: auto;
    font-family: cursive;
    padding: 40px;
    padding-top: 10px;
    margin-top: 50px;
    width: 50%;
    min-width: 300px;
    border-radius: 30px;
  }
  /* center title and put logo to the right side of form */
  .title{
    display: flex;
    justify-content: space-between;
  }
  
  
  #logo{
    
    width: 85px;
    background-color: #1F75FE;
    
    align-self: center;
    
  }

  #title {
    text-align: center; 
    margin-bottom: 20px; 
    
    
  }
  input {
    padding: 10px;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  .inputBtns{
    margin: 0 auto;
    text-align: center;
    width: 35%;
    
  }
  .inputBtns:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: #1F75FE;
    color: white;
  }
  /* on click */
  .changeColor{
    background-color: #1F75FE;
    color: white;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    text-align: center;
    
  }
  
  button {
    background-color: #1F75FE;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
    
    
  }
  #nextBtn{
    
    background-color: #1F75FE;
  }
  
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are current and valid: */
  .step.current {
    background-color: #1F75FE;
  }
  
  .items  {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
    
    
    

  }
  /* responsive */
    @media screen and (max-width:1150px) {
        body{
            background: repeat ;
        }
    
  }
  
  
  
  