* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    background: url("../../images/Biogas_Back.jpg") no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-bottom: 0px ;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    
  }
  fieldset {
    padding: 20px 40px;
    border: none;
    
  }
  #headtitle{
    font-size: 22px;
    color:  rgb(241, 235, 235);;
  }
  .line {

    height: 0;
    width: calc(100% + 84px); /* Adjust based on the padding value */
    margin-left: -42px; /* Adjust based on the padding value */
    overflow: visible;
  }
  hr{
    width: 100%;
    
  }
  #regForm {
    border: 2px solid white;
    background-color: #406bb6;
    margin: auto;
    box-shadow: 8px 8px 15px 5px;
    
    padding-bottom: 10px;
    margin-top: 50px;
    width: 45%;
    min-width: 300px;
    border-radius: 30px;
  }
  
  /* center title and put logo to the right side of form */
  .title{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    align-items: center;
  }
  
  #results_tab{
    background-color: #242526;
    border: 1px solid white;
    width: 55%;
    
    transform: translateX(40%);
    position: relative;
    bottom: 20px;
    
    margin-bottom: 20px;
    border-radius: 3px;

  }
  #logo{
    
    width: 85px;
    background-color: transparent;
    
    
    align-self: center;
    
  }
  #biogasLogo{
    width: 122px;
    background-color: transparent;
    background-size: cover;
    
    
    
    
    filter: hue-rotate(180deg) invert(1) brightness(1.5);
    
    
    border-radius: 5px;

   
    
    align-self: center;
  }
  .results{
    color: black;
    text-align: left;
    margin-left:5px;
    font-size: 16px;
  }
  
  #title {
    text-align: center; 
    margin-bottom: 20px; 
    color: rgb(241, 235, 235);
    font-size: 18.5px;
    
  }
  
  input {
    padding: 10px;
    font-size: 15.5px;
    border: 1px solid #aaaaaa;
  }
  input:focus {
    border: 1px solid #4472c4;
  }
  .inputBtns{
    margin: 0 auto;
    text-align: center;
    width: 35%;
    border: 0px solid;
    border-radius: 3.5px;
    color: black;
    background-color: rgb(241, 235, 235);
    
  }
  .inputBtns:hover{
    cursor: pointer;
    /*opacity: 0.8;*/
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  /* on click */
  .changeColor{
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    text-align: center;
    
  }
  
  button {
    border: none;
    
    padding: 9px 18px;
    cursor: pointer;
    background-color: rgb(241, 235, 235);
    
  }
  /*.pagination{
    float: right;
  }*/
  button:hover {
    background-color: #1a2c4b;
    color: rgb(241, 235, 235);
  }
  
  #prevBtn {
    background-color: rgb(241, 235, 235);
    color: black;
    border: 1px solid;
    border-radius: 2.5px;
    font-size: 14px;
    padding: none;
    
  }
  #nextBtn{
    
    color: black;
    font-size: 14px;
    padding: none;
    border: 1px solid;
    border-radius: 2.5px;
    float: right;
    
    
  }
  #nextBtn:hover{
    color: rgb(241, 235, 235);
  }
  
  #prevBtn:hover{
    background-color: #1a2c4b;
    color:rgb(241, 235, 235);
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(241, 235, 235);
    border: none;  
    border-radius: 50%;
    display: inline-block;
    
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are current and valid: */
  .step.current {
    background-color: #1a2c4b;
  }
  
  .items  {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
  .items input{
    width: 290px;
    
  }

  .restart-symbol{
    font-size: 13.5px;
    margin: 0;
    padding: 0;
    line-height: 1;

  }
  /*.items label{
    visibility: hidden;
  }*/
  @media screen and (max-width:1800px) {
    
    
    #headtitle{
      font-size: 20px;
      
    }
    #title{
      font-size: 18.5px;
      
    }
    #results_tab{
      width: 60%;
      transform: translate(35%);
    }
    .results{
      text-align: left;
      margin-left: 5px;
      
    }
  }
  @media screen and (max-width:1500px) {
    #regForm{
      width: 60%;
    }
    .inputBtns{
      width: 40%;
    }
    #headtitle{
      font-size: 20px;
      
    }
    #title{
      font-size: 18.5px;
    }
    
    .pagination_buttons{
      font-size: 14px;
    }
    
    
  }
  @media screen and (max-width:1200px) {
    
    .inputBtns{
      width: 55%;
      font-size: 16px;
    }
    .pagination{
      float: none;
    }
    #nextBtn{
      float: right;
    }
    fieldset {
      padding-top: 0;
      
    }
    #results_tab{
      width: 70%;
      transform: translate(25%);
      bottom: 0;
    }
    .results{
      text-align: left;
      margin-left: 5px;
      
    }
    #biogasLogo{
      width: 100px;
    }
    #headtitle{
      transform: translateX(-15px);
    }
  }
  @media screen and (max-width:950px) {

    #regForm{
      width: 75%;
    }
    
    #results_tab{
      width: 85%;
      transform: translate(12.5%);
    }
    .results{
      text-align: left;
      margin-left: 5px;
      
    }
    
  }
  @media screen and (max-width:800px) {

    
    #results_tab{
      width: 95%;
      transform: translate(2.5%);
    }
    .results{
      font-size: 15px;
      
    }
    .flags{
      width: 33px;
    }
    #headtitle{
      
      transform: translateX(-2px);
      
    }
    #emptyDiv{
      display: none;
    }
    
    #biogasLogo{
      display: none;
    }
    .title{
      display: block;
      justify-content: center;
    }
    
  }

  @media screen and (max-width:700px) {
    #regForm{
      width: 97%;
    }
    .inputBtns{
      width: 65%;
    }
    #headtitle{
      font-size: 18px;
      
    }
    #title{
      font-size: 18px;
    }
    #results_tab{
      width: 80%;
      transform: translate(15%);
    }
    .results{
      text-align: left;
      margin-left: 5px;
      font-size: 14px;
    }
    

  }
  @media screen and (max-width:600px) {
    #headtitle{
      font-size: 16px;
      
    }
    #title{
      font-size: 16px;
    }
    .inputBtns{
      max-width:220px ;
    }
  }
  @media screen and (max-width:550px) {
    
    #results_tab{
      width: 90%;
      transform: translate(5%);
    }
    #prevBtn {
      font-size: 13px;
      padding: 8px 13px;
    }
    #nextBtn{
      font-size: 13px;
      padding: 8px 13px;
    }
    #regForm{
      box-shadow: none;
    }
    

  }
  @media screen and (max-width:500px) {
    
    .inputBtns{
      width: 60%;
      font-size: 13.5px;
    }
    
    #results_tab{
      width: 100%;
      transform: translate(0%);
    }
    .results{
      
      font-size: 13px;
    }
    
    #title{
      font-size: 15.5px;
      
    }
    #nextBtn{
      font-size: 12.5px;
    }
    #prevBtn{
      font-size: 12.5px;
    }
    .items input{
      margin: 0; 
      font-size: 13px;
      width: 61.7%;
    }
    button {
      padding: 8px 15px;
    }
    #headtitle{
      font-size: 15.5px;
      
    }
    
  }
  @media screen and (max-width:450px) {
    /*#headtitle{
      transform: translate(50px);
    }*/

    .inputBtns{
      width: 80%;
      font-size: 13.5px;
    }
    .items input{
      margin: 0; 
      font-size: 13px;
      width: 80%;
    }
    #title{
      font-size: 14.5px;
      
    }
    #headtitle{
      font-size: 14.5px;
      
    }
    .results{
      
      font-size: 13px;
    }
    .restart-symbol{
      font-size: 13px;
    }

    
  }
  @media screen and (max-width:400px) {
    /*#headtitle{
      transform: translate(35px);
    }*/

    .inputBtns{
      width: 100%;
      font-size: 13.5px;
    }
    .items input{
      margin: 0; 
      font-size: 12px;
      width: 95%;
    }
    
    #nextBtn{
      font-size: 12.5px;
    }
    #prevBtn{
      font-size: 12.5px;
    }
    .results{
      font-size: 13px;
    }
    #results_tab{
      width: 120%;
      transform: translate(-7.5%);
    }
    .restart-symbol{
      font-size: 12px;
    }
    

    
  }
  
  