* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(82,86,89);
    /*background: url("../images/Biogas_Back.jpg") no-repeat center center fixed;
    background-size: cover;*/
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
main{
    margin:30px 8px;
    margin-top: 0px;
    padding:15px;
}

header{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:10px ;
}
#title{
    font-size: 20px;
}

  #headtitle{
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    
  }
.text{
    font-size: 16px;
    text-align: left;

    
}
.box ul, .box ul ul{
  max-width: 100%;
  
}
.box ul li{
  list-style: none;
  margin-bottom: 1px;
  padding: 9px 18px;
  overflow: hidden;
  max-width: 100%;
  transform: translateX(-15px);
  
 
}
.box ul{
  background-color: #8B4513;
  border-radius:5px;
  
  box-shadow: 0px 0px 0px 2.1px;
  
}
.box ul ul{
  border: none;
  box-shadow: none;
}
#downArrow, #upArrow{
  color: #dbd0d0;
}
.box ul li a{
  color: #dbd0d0;
  text-decoration: underline;
  font-weight: 500;
  
}
.box ul ul li a{
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
}
.box ul ul li{
  margin-bottom: 7.5px;
  padding: 0;
  width: 330px;
  
}
li a:visited {
  color: white /* Same color as regular links */
}
#calcCategories{
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;

  
}
#upArrow{
  display: none;
}
#upArrow:hover,#downArrow:hover{
  cursor: pointer;
}
.box{
  background-color: #eee;
  border-radius: 15px;
  margin:30px auto;
  
  padding:15px;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 80%;
  
}
img{
    
    width: 1400px;
    max-width:100%;
    height:auto ;
    border-radius: 7px;
    text-align: center;
    
    

}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.scroll-to-top-btn:hover {
  background-color: #2980b9;
}
@media screen and (max-width: 1470px) {
    #tribute-info {
      font-size: 16px;
      width: 75%;
      margin:0;
    }
    
    

  }
@media screen and (max-width: 880px) {
    #tribute-info {
      font-size: 16px;
      width: 100%;
      margin:0;
    }
    
    .box{
        width: 100%;
        
    }
    main{
        margin:0;
        padding: 0;
    }

  }

 .back-to-home {
    display: inline-block;
    
    text-align: center;
    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    
    font-size: 13px;
    
    
    transition: all 0.3s ease;
    
}
.back-to-home span{
  position: relative;
  top: 6px;
}
.back-to-home:hover{
  background: #3a3b3c;
}

.flags{
  width: 40px;
  float: right;
  margin: 3px;
  position: relative;
  line-height: 1;
  margin-top: 0px;
}
.links{
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* Table */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  table-layout: fixed;
}

td,
th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1rem 15px;
  font-size: 15px;
}

th {
  background-color: #f4f4f4;
  font-weight: normal;
  background-color: #242526;
}

td {
  background-color: #dddddd;
  border: 2px solid #ccc;
  color: #000;
}


.table-container {
  overflow-x: auto; /* Enable horizontal scrolling if table overflows */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
}